#div-navbar {
    margin-block: 15px;
    background-color: rgb(22, 22, 22);
}

#navbar a {
    font-size: 25px;
    border-radius: 15px;
    color: white;
    background-color: hsl(0, 0%, 25%);
    padding: 15px;
    transition: background-color 0.5s ease-in;
    text-decoration: none;
    margin-inline-end: 10px;
    font-weight: bold;
}

#navbar a:hover {
    background-color: hsl(0, 0%, 35%);
    transition: background-color 0.5s ease-in;
    color: black;
}