body {
    background-color: rgb(22, 22, 22);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    margin: 0;
}

.grid {
    display: grid;
}

.text-decoration-none {
    text-decoration: none;
}

#top-grid {
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    background-color: rgb(22, 22, 22);
}

#logo {
    color: white;
    text-decoration: none;
    font-size: 35px;
    background-color: red;
    font-weight: bold;
    border-radius: 10px;
    padding: 10px;
    transition: color 0.4s ease-in;
    transition: color 0.5s ease;
    position: relative;
}

#logo-position {
    max-width: fit-content;
    margin: 10px;
    grid-column: 1;
}

#logo:hover {
    color: black;
transition: color 0.5s ease;
}

#panel-navbar-videos {
    display: flex;
}

#panel {
    background-color: rgb(31, 30, 30);
    width: 250px;
    height: 50vh;
    display: flex;
    margin-right: 3vh;
}

#navbar-videos {
    display: inline-block;
    vertical-align: top;
}

#bottom-grid {
    display: inline-block;
    vertical-align: top;
}

#bottom-videos-grid {
    display: flex;
}

#grid-videos {
    grid-template-columns: repeat(5, 1fr);
    margin-top: 15px;
    margin-inline-end: 40px;
}
    