#search-bar {
    display: flex;
    grid-column: 2;
    justify-self: center;
    align-self: center;
}

#search-bar input {
    background-color: rgb(31, 30, 30);
    color: white;
    border-color: hsl(0, 0%, 27%);
    border-style: solid;
    height: 40px;
    width: 500px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

#search-bar ::placeholder {
    color: hsl(0, 0%, 30);
    padding-left: 10px;
}

#search-bar button {
    background-color: rgb(63, 63, 63);
    color: white;
    border-color: hsl(0, 0%, 27%);
    border-style: solid;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px
}